
/*__Botão sólido azul___*/

.primary-button {
    margin: 0.5em;    
    padding: 0.8em 2em;
    border-radius: 40px; 
    border-style: solid;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border-color: #008af5;
    background-color: #008af5;
    color: #fff;
}

/*__Botão sólido cinza___*/

.secundary-button {
    margin: 0.5em;    
    padding: 0.8em 2em;
    border-radius: 40px; 
    border-style: solid;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border-color: #37414b;
    background-color: #37414b;
    color: #fff;
}

/*__Botão vazado___*/

.outline-button {
margin: 0.5em;    
padding: 0.8em 2em;
border-radius: 40px; 
border-style: solid;
font-family: 'Rubik', sans-serif;
font-size: 12px;
font-weight: 500;
text-decoration: none;
border-color: #f0f5f9;
background-color: #fff;
color: #008af5;
}

.outline-button-gray {
    margin: 0.5em;    
    padding: 0.8em 2em;
    border-radius: 40px; 
    border-style: solid;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border-color: #f0f5f9;
    background-color: #fff;
    color: #777d81;
    }