<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="featuring-shirley.css">
    <title>Reachme - Featuring Component</title>
</head>
<body>
    <section class="feature--lighter-gray">
        <div>
            <h2 class="feature__title">Social Publishing</h2>
            <p class="feature__text">Draft, schedule, and post messages across all your social channels. Shorten links with <a href="">tr.im</a>, attach photos and target specific audiences.</p>
            <p class="feature__text">Use out Patent-Pending <a href="">Hopper</a> to deliver content to your audience at the best time.</p>
            <button type="submit" class="primary-button">Get Started</button>
        </div>
        <img class="feature__icon" 
        srcset="DSK_laptop_W388.png 388w, DSK_laptop_W549.png 549w, DSK_laptop_W740.png 740w" 
        sizes="(min-width: 320px) 100w, 30vw" 
        src="DSK_laptop_W740.png" 
        alt="screen of laptop">
    </section>
</body>
</html>