body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

navbar {
    height: 4.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



