<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="hero.css">
    <title>Reachme - Hero component</title>
</head>
<body>
    <div class="hero">
    <h1>Reach.me Features</h1>
    <p class="hero-texto">Schedule, Automate, Measure and Monitor all your social media accounts from a single dashboard</p>
    <button type="submit" class="primary-button">Learn More</button>
    <img class="hero-image-app" src="hero_IMG_W768xH373_.jpg">
    </div>
</body>