html, body{
    padding: 0;
    margin: 0;
}
.hero{
    height: 35rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;  
    /*background-color: rgb(209, 236, 135);  /*cor só pra testar o entendimento, hehehe*/    
    background-image: url(hero_BG_W_1440xH568.jpg);
    background-position: right bottom; 
    background-repeat: repeat-x;
    position: relative;
}
.hero h1{
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    color: #000000;
    letter-spacing: 0.1rem;
    text-align: center;
}
.hero-texto{
    font-family: 'Verdana', sans-serif;
    font-size: 0.6rem;
    color: #A4B2BB;
    max-width: 30rem;
    line-height: 150%;
    text-align: center;
    margin-top: -0.7rem;
}
.hero-image-app{
    height: 24rem; 
    position: absolute;
    bottom: 0;
}
.primary-button {
    margin: 0.5em;    
    padding: 0.8em 2em;
    border-radius: 40px; 
    border-style: solid;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-color: #008af5;
    background-color: #008af5;
    color: #fff;
}

@media(max-width: 768px) {
    .hero{
        height: 25rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        align-items: center;  
        /*background-color: rgb(209, 236, 135);  /*cor só pra testar o entendimento, hehehe*/    
        background-image: url(hero_BG_W_1440xH568.jpg);
        background-position: right bottom; 
        background-repeat: repeat-x;
        position: relative;
    }    
    .hero-image-app{
    max-height: 15rem;
    position: absolute;
    bottom: 0;
    }
    .hero-texto{
        font-family: 'Verdana', sans-serif;
        font-size: 0.6rem;
        color: #A4B2BB;
        max-width: 20rem;
        line-height: 150%;
        text-align: center;
        margin-top: -0.7rem;
    }
    h1{
        font-family: 'Rubik', sans-serif;
        font-size: 2rem;
        color: #000000;
        letter-spacing: 0.1rem;
        text-align: center;
    }
}

@media(max-width: 450px) {
    .hero{
        height: 25rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        align-items: center;  
        position: relative;
    }    
    .hero-image-app{
    max-height: 10rem;
    position: absolute;
    bottom: 0;
    }
    .hero-texto{
        font-family: 'Verdana', sans-serif;
        font-size: 0.7rem;
        color: #A4B2BB;
        max-width: 10rem;
        line-height: 150%;
        text-align: center;
        margin-top: -0.7rem;
    }
    h1{
        font-family: 'Rubik', sans-serif;
        font-size: 1.5rem;
        margin-left: 5rem;
        margin-right: 5rem;
        color: #000000;
        letter-spacing: 0.1rem;
        text-align: center;
    }
}