<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="features-ju.css">
    <title>Reachme - Featuring Component</title>
</head>
<body>  
        <section class="feature feature--lighter-gray">
                <div class="feature__content">
                    <h2 class="feature__title">Social Publishing</h2>
                    <p class="feature__text"> Draft, schedule and post messages across all your social channels. Shorten links with <a href="">tr.im</a>, attach photos and target specific audiences.<p>
                    <p class="feature__text">Use our Patent-Pending  <a href="">Hopper</a> to deliver content do your audience at the best time.</p>
                    <a href="" class="primary-button">Get Started</a>
                </div>
                <img class="feature__icon feature__icon--end feature__icon-social-publishing" 
                srcset="icon-social-publishing-small.png 214w, icon-social-publishing-medium.png 299w, icon-social-publishing-large.png 467w" 
                sizes="(min-width: 320px) 100w, 25vw" 
                src="icon-social-publishing-large.png" 
                alt="Screen of app directory feature">
        </section>
        <section class="feature feature--reverse feature--darker-gray">
                <div class="feature__content">
                    <h2 class="feature__title">Engagement</h2>
                    <p class="feature__text">See a full stream of messages coming into your brand across all your connected social profiles.<p>
                    <a href="" class="primary-button">Get Started</a>
                </div>
                <img class="feature__icon feature__icon--start" 
                     srcset="icon-engagement-small.png 214w, icon-engagement-medium.png 299w, icon-engagement-large.png 467w" 
                     sizes="(min-width: 320px) 100w, 30vw" 
                     src="icon-engagement-large.png" 
                     alt="Screen of app directory feature">
        </section>
        <section class="big-feature">
                <div class="feature">
                    <div class="feature-content--brand">
                        <h2 class="feature__title">Brand Monitoring</h2>
                        <p class="feature__text">Set up keyword related to your brand and monitor all social channels. Have results delivered right to the reach.me inbox, and see the frequency of your brand´s keywords in your analytics report.</p>
                        <a href="" class="primary-button">Get Started</a>
                    </div>
                </div>
                <div class="feature feature--reverse">
                    <div class="feature-content">
                        <h2 class="feature__title">Analytics</h2>
                        <p class="feature__text">Get insight into profile and individual posts, as well as trends across social media. All analytics are packaged into beatiful, presentation-ready reports that can be exported into CSVs and PDFs.</p>
                        <a href="" class="primary-button">Get Started</a>
                    </div>
                <img class="feature__big-icon feature__icon--start" 
                    srcset="DSK_imac_small.png 206w, DSK_imac_medium.png 361w, DSK_imac_large.png 620w" 
                    sizes="(min-width: 320px) 50w, 50vw" 
                    src="DSK_imac_large.png" 
                    alt="Screen of app directory feature">
                </div>
            </section>
        <section class="feature">
            <div class="feature__content">
                <h2 class="feature__title">Collaboration</h2>
                <p class="feature__text">Turn any in-bound message into a task that can be routed to the appropriate team member. Live activy updates prevent your team from replying to the same message twice.
                </p>
                <a href="" class="primary-button">Get Started</a>
            </div>
            <img class="feature__icon feature__icon--end" 
                srcset="icon-collaboration-small.png 214w, icon-collaboration-medium.png 299w, icon-collaboration-large.png 467w" 
                sizes="(min-width: 320px) 100w, 30vw" 
                src="icon-collaboration-large.png" 
                alt="Screen of app directory feature">
        </section>
        <section class="feature feature--reverse feature--lighter-gray">
                <div class="feature__content">
                    <h2 class="feature__title">App Directory</h2>
                    <p class="feature__text">The reach.me App Directory is a collection of extensions and applications brands
                            can add to their dashbord to create a customized experience and extend reach beyond
                            just the traditional social channels.<p>
                    <a href="" class="primary-button">Get Started</a>
                </div>
                <img class="feature__icon feature__icon--center" 
                srcset="icon-app-directory-small.png 214w, icon-app-directory-medium.png 299w, icon-app-directory-large.png 467w" 
                sizes="(min-width: 320px) 100w, 30vw" 
                src="icon-app-directory-large.png" 
                alt="Screen of app directory feature">
        </section>
    </body>
</html>