<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="features.css">
    <title>Reachme - Featuring Component</title>
</head>
<body>
    <section class="feature">
        <div class="feature__content">
            <h2 class="feature__title">Collaboration</h2>
            <p class="feature__text">Turn any in-bound message into a task that can be routed to the appropriate team member. Live activy updates prevent your team from replying to the same message twice.
            </p>
            <a href="" class="primary-button">Get Started</a>
        </div>
        <img class="feature__icon feature__icon--end" 
        srcset="icon-collaboration-small.png 214w, icon-collaboration-medium.png 299w, icon-collaboration-large.png 467w" 
        sizes="(min-width: 320px) 100w, 30vw" 
        src="icon-collaboration-large.png" 
        alt="Screen of app directory feature">
    </section>
</body>
</html>