h2{
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: #37414b;
    letter-spacing: 0.1rem;
}
P{
    font-family: 'Verdana', sans-serif;
    font-size: 0.6rem;
    color: #A4B2BB;
    width: 15rem;
    line-height: 150%;.
}