<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="footer.css">
    <title>Reachme - footer component</title>
</head>
<body>
    <footer>
            
            <div class="footer__logo">
                <img src="logo-footer.png"  alt="logo reach me">
            </div>
            <ul class="footer__links">
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
                <li>Opt-Out</li>
                <li>Contact</li>
            </ul>

            <ul class="footer__social-medias">
                <li><img src="facebook.png" class="footer__social-medias-icon" alt="facebook icon"></li>
                <li><img src="twitter.png" class="footer__social-medias-icon" alt="twitter icon"></li>
            </ul>

    </footer>
    
</body>
    